body {
	background: #eeebe3;
	color: black;
}

h1 {
	text-align: center;
}

form {
	display: flex;
	width: 50%;
	flex-direction: row;
	margin: auto;
	justify-content: space-around;
}

input,
button {
	box-sizing: border-box;
	width: 40%;
}

article {
	width: 90vmin;
	margin: 2vmin auto;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8);
	padding: 3vmin;
	border-radius: 2vmin;
}

figure,
img {
	width: 100%;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.8);
}
